.card {
    position: relative;
    display: inline-block;
    height: 9rem;
    width: 9rem;
    margin: 0 5px;
}

#card_clients {
    grid-column: 2;
}

#card_arrivals {
    grid-column: 4;
}

#card_departure {
    grid-column: 6;
}

#card_cancels {
    grid-column: 8;
}

.image_card_dark {
    display: none;
    padding-left: 33%;
    padding-top: 8%;
    z-index: 99;
}

.image_card {
    padding-left: 33%;
    padding-top: 8%;
}

.card:hover .image_card_dark {
    display: inline;
}

.card:hover .image_card {
    display: none;
}

.card:focus-within .image_card_dark {
    display: inline;
}

.card:focus-within .image_card {
    display: none;
}

.text_card {
    text-align: center;
}
