.card_clients{
    display: initial;
    position: absolute;
    height: 9rem;
    width: 9rem;
    left: 15%;
    top: 2%;
}
.card_arrivals{
    display: initial;
    position: absolute;
    height: 9rem;
    width: 9rem;
    left: 30%;
    top: 2%;
}
.card_departure{
    display: initial;
    position: absolute;
    height: 9rem;
    width: 9rem;
    left: 45%;
    top: 2%;
}
.card_cancels{
    display: initial;
    position: absolute;
    height: 9rem;
    width: 9rem;
    left: 60%;
    top: 2%;
}
.image_card{
    padding-left: 35%;
    padding-top: 8%;
}
.text_card{
    text-align: center;
    color: #9E9E9E;
}