.add_new_hotel {
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 1;
    margin-left: auto;
    margin-right: auto;
}

.title_new_hotel {
    margin-top: 45px;
    margin-left: 250px;
    margin-bottom: 25px;

    font-family: Roboto, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.15px;
    color: #000000;
}

.rectangle_new_hotel {
    width: 1000px;
    height: 600px;
    background: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(224, 228, 231, 0.836);
    transition: all linear .2s;
    box-shadow: 0 14px 28px rgba(3, 69, 131, 0.603), 0 4px 12px rgba(36, 131, 219, 0.842);
}

.card_new_hotel {
    margin-top: 4rem;
}


.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

div h1.enterHotelData_new_hotel {
    margin-left: 50px;

    font-family: Roboto, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #000000;
}

input.input_data_name {
    width: 500px;
    height: 50px;

}

input.input_data_adress {
    width: 500px;
    height: 50px;

}

input.input_data_rooms {
    width: 200px;
    height: 50px;

}

.button_save_new_hotel {
    width: 150px;
    height: 80px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 300px;


    font-size: 14px;
    text-align: center;
    letter-spacing: 1.20px;
    text-transform: uppercase;
    color: #faf8f8;

    border-color: rgba(20, 102, 61, 0.973);
    background: rgba(69, 155, 115, 0.973);
    border-radius: 20px;
    transition: all linear .2s;
}

.button_save_new_hotel:hover {
    font-size: 16px;
    border-color: rgba(20, 102, 61, 0.973);
    background: rgba(40, 204, 122, 0.973);
    box-shadow: 0 4px 15px rgba(36, 219, 127, 0.842);
}

.button_cancel_new_hotel {
    width: 150px;
    height: 80px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 100px;


    letter-spacing: 1.20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    border-color: rgba(167, 46, 30, 0.973);
    background: rgba(240, 134, 108, 0.973);
    border-radius: 20px;
}

.button_cancel_new_hotel:hover {
    font-size: 16px;
    border-color: rgba(184, 29, 9, 0.973);
    background: rgba(250, 105, 86, 0.973);
    box-shadow: 0 4px 15px rgba(245, 76, 58, 0.973);;
}