.delete_room {
    grid-column-start: 2;
    grid-column-end: 16;
    margin-left: auto;
    margin-right: auto;
}

.title_delete_room {
    margin-top: 25px;
    margin-left: 400px;
    font-family: Lato, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #bb4545;
}

.rectangle_delete_room {
    width: 1000px;
    height: 800px;
    margin-top: 4rem;
    background: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(224, 228, 231, 0.836);
    transition: all linear .2s;
    box-shadow: 0 14px 28px rgba(167, 46, 30, 0.973), 0 4px 12px rgba(240, 134, 108, 0.973);
}

div h1.deleteRoomData {
    margin-left: 80px;
    font-family: Lato, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #bb4545;
}

input.input_delete_room {
    margin-left: 80px;
    width: 300px;
    height: 50px;
}

.button_delete_delete_room {
    width: 150px;
    height: 80px;
    margin-left: 300px;
    letter-spacing: 1.20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-color: rgba(167, 46, 30, 0.973);
    background: rgba(240, 134, 108, 0.973);
    border-radius: 20px;
}

.button_delete_delete_room:hover {
    font-size: 16px;
    border-color: rgba(184, 29, 9, 0.973);
    background: rgba(248, 51, 25, 0.973);
    box-shadow: 0 4px 15px rgba(240, 57, 37, 0.973);
    ;
}

.button_cancel_delete_room {
    width: 150px;
    height: 80px;
    margin-left: 100px;
    letter-spacing: 1.20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-color: white;
    background: rgba(108, 176, 240, 0.973);
    border-radius: 20px;
}

.button_cancel_delete_room:hover {
    font-size: 16px;
    border-color: white;
    background: rgba(40, 125, 204, 0.973);
    box-shadow: 0 4px 15px rgba(36, 131, 219, 0.842);
}


.modalDialog {
	position: fixed;
	
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    
	background: #2e3a59;
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}



.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    height: 200px;

	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modal_title{
    letter-spacing: 1.20px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #bb4545;

    margin-top: 40px;
    margin-bottom: 40px;
}


.button_modal_delete {
    width: 100px;
    height: 60px;

    margin-left: 100px;

    letter-spacing: 1.20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-color: rgba(167, 46, 30, 0.973);
    background: rgba(240, 134, 108, 0.973);
    border-radius: 20px;
}

.button_modal_delete:hover {
    
    border-color: rgba(184, 29, 9, 0.973);
    background: rgba(248, 51, 25, 0.973);
    box-shadow: 0 4px 15px rgba(240, 57, 37, 0.973);

}


.button_cancel_modal {
    width: 100px;
    height: 60px;

    margin-left: 80px;
    letter-spacing: 1.20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-color: white;
    background: rgba(108, 176, 240, 0.973);
    border-radius: 20px;
}

.button_cancel_modal:hover {
   
    border-color: white;
    background: rgba(40, 125, 204, 0.973);
    box-shadow: 0 4px 15px rgba(36, 131, 219, 0.842);
}


