.deleteHotel {
    grid-column-start: 2;
    grid-column-end: 16;
    margin-left: auto;
    margin-right: auto;
}
.title_delete_hotel {
    margin-top: 45px;
    margin-left: 350px;
    margin-bottom: 25px;

    font-family: Lato, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.15px;
    color: #bb4545;
}
.rectangle_delete_hotel {
    width: 1000px;
    height: 620px;
    margin-top: 4rem;
    background: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(224, 228, 231, 0.836);
    transition: all linear .2s;
    box-shadow: 0 14px 28px rgba(167, 46, 30, 0.973), 0 4px 12px rgba(240, 134, 108, 0.973);
}

input.delete_hotel_rooms {
    width: 100px;
    height: 50px;

   
}

div h1.enterHotelData_delete_hotel {
    margin-left: 50px;

    font-family: Lato, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #bb4545;
}


button.button_delete_delete_hotel {
    width: 150px;
    height: 80px;

    margin-left: 300px;
    margin-top: 20px;


    letter-spacing: 1.20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-color: rgba(167, 46, 30, 0.973);
    background: rgba(240, 134, 108, 0.973);
    border-radius: 20px;
}

button.button_delete_delete_hotel:hover {
    font-size: 16px;
    border-color: rgba(184, 29, 9, 0.973);
    background: rgba(248, 51, 25, 0.973);
    box-shadow: 0 4px 15px rgba(240, 57, 37, 0.973);
    ;
}


button.button_cancel_delete_hotel{
    width: 150px;
    height: 80px;

    margin-left: 100px;
    margin-top: 20px;

    letter-spacing: 1.20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-color: white;
    background: rgba(108, 176, 240, 0.973);
    border-radius: 20px;
}

button.button_cancel_delete_hotel:hover {
    font-size: 16px;
    border-color: white;
    background: rgba(40, 125, 204, 0.973);
    box-shadow: 0 4px 15px rgba(36, 131, 219, 0.842);
}



