.title_set_hotel {
    margin-top: 45px;
    margin-left: 350px;
    margin-bottom: 25px;

    font-family: Roboto, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.15px;
    color: #2e3a59;
}
.rectangle_set_hotel {
    width: 1000px;
    height: 620px;
    margin-top: 4rem;
    background: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(224, 228, 231, 0.836);
    transition: all linear .2s;
    box-shadow: 0 14px 28px rgba(3, 69, 131, 0.603), 0 4px 12px rgba(36, 131, 219, 0.842);
}

input.set_rooms {
    width: 100px;
    height: 50px;
    margin-left: 140px;
   
}

.listButton_hsettings{
    width: 300px;
    height: 80px;

    font-size: 14px;
    text-align: center;
    letter-spacing: 1.20px;
    text-transform: uppercase;
    color: #faf8f8;

    border-color: white;
    background: rgba(108, 176, 240, 0.973);
    border-radius: 20px;
    transition: all linear .2s;
}

.listButton_hsettings:hover {
    font-size: 14px;
    border-color: white;
    background: rgba(40, 125, 204, 0.973);
    box-shadow: 0 4px 15px rgba(36, 131, 219, 0.842);
}

.button_save_settings_hotel {
    width: 150px;
    height: 80px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 100px;


    font-size: 14px;
    text-align: center;
    letter-spacing: 1.20px;
    text-transform: uppercase;
    color: #faf8f8;

    border-color: rgba(20, 102, 61, 0.973);
    background: rgba(69, 155, 115, 0.973);
    border-radius: 20px;
    transition: all linear .2s;
}

.button_save_settings_hotel:hover {
    font-size: 16px;
    border-color: rgba(20, 102, 61, 0.973);
    background: rgba(40, 204, 122, 0.973);
    box-shadow: 0 4px 15px rgba(36, 219, 127, 0.842);
}

.button_delete_hotel_settings {
    width: 150px;
    height: 80px;
    margin: 20px;

    margin-top: 50px;
    margin-left: 150px;

    letter-spacing: 1.20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    border-color: rgba(167, 46, 30, 0.973);
    background: rgba(240, 134, 108, 0.973);
    border-radius: 20px;
}

.button_delete_hotel_settings:hover {
    font-size: 16px;
    
    border-color: rgba(184, 29, 9, 0.973);
    background: rgba(248, 51, 25, 0.973);
    box-shadow: 0 4px 15px rgba(240, 57, 37, 0.973);;
}

