.hotel_first {
    grid-column-start: 2;
    grid-column-end: 16;
    margin-left: auto;
    margin-right: auto;
}

.hotel_second {
    grid-column-start: 2;
    grid-column-end: 16;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;

    font-family: Lato, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.15px;
    color: #2e3a59;
}

.rectangle {
    width: 344px;
    height: 382px;

    margin: 20px;
    margin-top: 10px;

    background: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(224, 228, 231, 0.836);
    transition: all linear .2s;
}

.rectangle:hover {
    border-color: white;
    box-shadow: 0 14px 28px rgba(3, 69, 131, 0.603), 0 4px 12px rgba(36, 131, 219, 0.842);
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.textInCards {
    margin-top: 10px;
    font-family: Lato, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #2e3a59;
}

.image {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 314px;
    height: 200px;
    border-radius: 20px;
}


button.roomSettingsButton {

    margin-top: 30px;
    margin-left: 100px;
    font-size: 14px;

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #2e3a59;
    background-color: white;
    border-color: white;
    transition: all linear .2s;
}

button.roomSettingsButton:hover {
    font-size: 14px;
    background: rgba(40, 125, 204, 0.973);
}

button.buttonAddRoom {
    width: 304px;
    height: 342px;
    margin: 20px;
    margin-top: 25px;

    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #faf8f8;

    background: rgba(108, 176, 240, 0.973);
    border-radius: 20px;

    transition: all linear .2s;
}
button.buttonAddNewRoom:hover {
    font-size: 18px;

    border-color: white;

    background: rgba(40, 125, 204, 0.973);
    box-shadow: 0 4px 15px rgba(36, 131, 219, 0.842);

}

/* For all windows */

.backButton{
    width: 90px;
    height: 45px;
    margin-left:1000px;

    font-size: 10px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #faf8f8;

    background: rgba(108, 176, 240, 0.973);
    border-radius: 10px;
    transition: all linear .2s;

}

button.backButton:hover {
    font-size: 12px;

    border-color: white;

    background: rgba(40, 125, 204, 0.973);
    box-shadow: 0 4px 15px rgba(36, 131, 219, 0.842);

}