.but-list {
	margin-left: 1.5rem;
	margin-right: 60vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	color: #2e3a59;
	min-width: 13rem;
}

.B-sign {
	background-color: #253ba8;
}

.sep {
	display: block;
	margin-bottom: 0.5em;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	border-width: 2px;
}

.large-title {
	margin-left: 1.5rem;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	font-size: 45px;
	letter-spacing: 0.15px;
	font-weight: 700;
	color: #2E3A59;
}

.small-title {
	margin-bottom: 0.3em;
	margin-left: 1.5rem;
	margin-top: 0.3em;
	font-size: 25px;
	letter-spacing: 0.15px;
	font-weight: 100;
	color: #2E3A59;
}

.main-block {
	grid-column-start: 2;
	grid-column-end: 16;
	grid-row-start: 1;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 2rem;
	background: white;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(224, 228, 231, 0.836);
	transition: all linear .2s;
	box-shadow: 0 7px 10px rgba(3, 69, 131, 0.603), 0 2px 4px rgba(36, 131, 219, 0.842);
}

.select-hotels {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 20rem;
	max-width: 40rem;
	font-size: 20px;
	color: #2e3a59;

	border: rgba(224, 228, 231, 0.836);
	border-radius: 0;
	box-shadow: 0 5px 8px rgba(3, 69, 131, 0.603), 0 1px 3px rgba(36, 131, 219, 0.842);
}
