.client_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(1rem, auto);
    position: relative;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    height: 4rem;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.box_title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.15px;
    margin-left: 1rem;
    margin-bottom: 0;
    color: #2E3A59;
}

.empty_box {
    display: flex;
    justify-content: center;
    letter-spacing: 0.5px;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0.5rem;
}

.box_cat {
    display: block;
    margin: auto;
}

.client_name {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row: 1;
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 1rem;
    color: #2E3A59;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 15px;
    height: 2rem;
}

.room_info {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
    margin-top: 1.5rem;
    margin-left: 1rem;

    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0.4px;
    line-height: 15px;
    font-weight: bolder;
    height: 1rem;
    overflow: auto;
}

.client_image {
    justify-self: start;
    grid-column: 1;
    grid-row: 1;
}

.contact_info {
    justify-self: end;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
    margin-right: 1rem;
    margin-top: 0.4rem;

    font-size: 0.9rem;
    letter-spacing: 0.1px;
    line-height: 15px;
    color: #2E3A59;
    font-weight: lighter;
    height: 1rem;
    overflow: auto;
}
