.navbar {
    display: flex;
    background-color: #ffffff;
    padding: 2px 2px;
    height: 110px;
    width: 110px;
    justify-content: flex-start;
    align-items: center;
    outline: 1px solid #E5E5E5;
}

.navbar.active {
    width: 250px;
    padding: 2px 10px;
}

.menu-bars {
    font-size: 2rem;
    background: none;
    color: #2E3A59;
}

.menu-bars.active {
    position: relative;
    left: 13%;
}

.title_accommodation {
    position: relative;
    left: -30%;
    bottom: -45%;
    font-size: 12px;
    font-weight: lighter;
    color: rgba(46, 58, 89, 0.42);
}

.sidebar {
    height: inherit;
    top: 0;
}

.navmenu {
    height: 100%;
    outline: 1px solid #e5e5e5;
    background-color: white;
}

.navmenu.nonactive {
    width: 110px;
}

.navmenu.active {
    width: 250px;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    height: 60px;
}

.nav-text a {
    color: #2E3A59;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.nav-text.active a {
    justify-content: start;
    font-size: 1.12rem;
    width: 100%;
}

.nav-text a:hover {
    background-color: #E3F2FD;
    color: #2196F3;
}

span {
    margin-left: 10px;
}

.Avatar {
    margin-left: 0.5rem;
    background-image: url(../resources/images/avatar.png);
}

.acc_section {
    position: absolute;
    width: 250px;
    font-weight: lighter;
    font-size: 10px;
    color: rgba(46, 58, 89, 0.42);
}